[Unit]
Description=daccountd
After=network.target

[Service]
WorkingDirectory=/etc/daccountd
ExecStart=/usr/sbin/daccountd --config config.toml
Restart=always

[Install]
WantedBy=multi-user.target
